[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sqlalchemy= "*"
flask= "*"
flask_mail = "*"
flask_cors = "*"
flake8 = "*"
pyjwt = "*"
passlib = "*"
psycopg2 = "*"
requests = "*"
boto3 = "*"
gunicorn = "*"
pytz = "*"
pywebpush = "*"

[requires]
python_version="3.8.2"

[dev-packages]
pylint = "*"
flake8 = "*"